/**
 * Theme Name: Origin
 * Theme URI: http://alienwp.com/themes/origin/
 * Description: Origin is a minimalistic theme with responsive layout. The theme supports custom header and background, plus a number of extra settings: link color picker, typography options, and a nice selection of Google fonts - built into the new WordPress theme customizer.
 * Version: 0.5.6
 * Author: AlienWP
 * Author URI: http://alienwp.com
 * Tags: flexible-width, theme-options, threaded-comments, microformats, translation-ready, rtl-language-support, one-column, two-columns, right-sidebar, sticky-post, custom-background, featured-images
 * License: GNU General Public License v2.0
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 *
 */

/* Normalize
-------------------------------------------------------------- */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
audio:not([controls]) { display: none; }
[hidden] { display: none; }
figure { margin: 0; }
html {
	font-size: 1em;	/* 16px */
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	margin: 0;
	font: 0.8125em/1.692307em 'Bitter', Georgia, 'Times New Roman', Times, serif;	/* 13 / 16 = 0.8125;  22 / 13 = 1.692307 */
	color: #555;
	background: #fff;
	padding: 0;
}
::-moz-selection {
	background: #000;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #000;
	color: #fff;
	text-shadow: none;
}
a, a:visited {
	color: #dd5424;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #000;
}
a:focus { outline: none; }
a:hover, a:active { outline: 0; }
abbr { cursor: help }
abbr[title] { border-bottom: 1px dotted; }
acronym {
	font-size: .85em;
	text-transform: uppercase;
	color: #666;
	border-bottom: 1px dotted #eee;
	cursor: help;
}
acronym:hover {
	color: #333;
	background: #f5f5f5;
	border-bottom: 1px dotted #aaa;
}
small { font-size: 0.8461538461538462em; }	/* 11 / 13 = 0.8461538461538462 */
big { font-size: 15px; }
p { margin: 0 0 1.692307em 0 }
b, strong { font-weight: bold; }
blockquote {
	margin: 0 1.692307em;
	font-style: normal
}
blockquote em, blockquote cite { font-style: italic }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none
}
em, cite {
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
em em, cite cite { font-style: normal }
dfn { font-style: italic; }
address {
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin: 0 0 1.692307em 0
}
li address, dd address { margin:0 }
del { text-decoration: line-through }
object { margin-bottom: 1.692307em }
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #e7e7e7;
	margin: 1em 0 1.692307em 0;
	padding: 0;
}
ins {
	font-family: Georgia, 'Times New Roman', Times, serif;
	background: #f5f5f5;
	color: #000;
	text-decoration: none;
	font-style: italic;
}
mark {
	background: #f5f5f5;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
pre, code, kbd, samp {
	font-family: monospace, monospace;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}
pre code { font-size: 1em }
pre {
	font-size: 0.8461538461538462em;
	font-family: Monaco, monospace, Courier, "Courier New";
	overflow: auto;
	line-height: 1.692307em;
	margin-bottom: 1.692307em;
	padding: 10px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
code {
	font-size: 0.8461538461538462em;
	font-family: Monaco, monospace, Courier, "Courier New";
}
sub, sup {
	font-size: 0.7692307692307692em;	/* 10 / 13 = 0.7692307692307692 */
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul {
	list-style: disc;
	margin: 0 0 1.692307em 2.8em;
	padding: 0;
}
ol {
	list-style-type: decimal;
	margin: 0 0 1.692307em 3.1em;
	padding: 0;
}
ol ol { list-style: upper-roman }
ol ol ol { list-style: lower-roman }
ol ol ol ol { list-style: upper-alpha }
ol ol ol ol ol { list-style: lower-alpha }
ul ul, ol ol, ul ol, ol ul { margin-bottom:0 }
dl { margin: 0 0 1.692307em 5px }
dt {
	font-weight: bold;
	margin: 10px 0 0 0
}
dd { margin: 5px 0 0 1.5em }
h1, h2, h3, h4, h5, h6 {
	font-style: normal;
	font-weight: normal;
	margin: 0 0 15px 0;
	color: #333;
	line-height: 1.3em;
}
h1 { font-size: 2.769230769230769em; }		/* 36 / 13 = 2.769230769230769 */
h2 { font-size: 1.846153846153846em; }		/* 24 / 13 = 1.846153846153846 */	
h3 { font-size: 1.538461538461538em; }		/* 20 / 13 = 1.538461538461538 */
h4 { font-size: 1.384615384615385em; }		/* 18 / 13 = 1.384615384615385 */
h5 {
	font-size: 1.230769230769231em;		/* 16 / 13 = 1.230769230769231 */
	font-weight: bold;
}
h6 {
	font-size: 1.076923076923077em;		/* 14 / 13 = 1.076923076923077 */
	font-weight: bold;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}
svg:not(:root) { overflow: hidden; }
form { margin: 0; }
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
label { cursor: pointer; }
legend {
	border: 0;
	*margin-left: -7px;
	padding: 0;
}
button, input, select, textarea, a.button {
	font-size: 1em;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}
button, input, a.button {
	line-height: normal;
	*overflow: visible;
}
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}
input:invalid, textarea:invalid { background-color: #f0dddd; }
option { padding: 1px 2px; }
table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 1.692307em;
}
td { vertical-align: top; }
th, td { text-align: left; }

/* WordPress classes 
-------------------------------------------------------------- */
.hfeed h1, .hfeed h2, .hfeed h3, .hfeed h4, .hfeed h5, .hfeed h6 { font-weight: normal; }
img.wp-smiley {
	max-height: 0.8125em;
	margin: 0;
	padding: 0;
	border: none;
}
.gallery {
	display: block;
	text-align: center;
	margin-bottom: 1.692307em !important;
}
.left, .alignleft {
	float: left;
	margin: 0 15px 5px 0;
}
.right, .alignright {
	float: right;
	margin: 0 0 10px 25px;
}
.center, .aligncenter {
	display: block;
	margin: 0 auto 1.692307em auto !important;
}
.block, .alignnone {
	display: block;
	margin: 0 0 1.692307em 0;
}
img.alignleft, img.alignright {
	margin-top: 5px;
	display: inline;
}
blockquote.alignleft, blockquote .alignright { width: 33%; }
.byline abbr, .entry-meta abbr, .comment-meta abbr { border: none; }
.clear { clear: both; }

/* Tables 
-------------------------------------------------------------- */
table {
	margin: 0 0 1.692307em 0;
	width: 100%;
}
table caption {
	font-size: 0.8125em;
	line-height: 1.692307em;
	color: #888;
}
table th {
	font-size: 0.8461538461538462em;
	line-height: 1.692307em;
	font-weight: normal;
	text-transform: uppercase;
	padding: 10px 2%;
	border-bottom: none;
	border-bottom: 3px solid #e7e7e7;
	text-align: left;
}
td {
	padding: 0.8125em 2%;
	color: #888;
	border-bottom: 1px solid #e7e7e7;
}

/* Lists 
-------------------------------------------------------------- */
ul li, ol li { line-height: 2.1em; }
dl { margin: 0 0 20px 30px; }
dl dt {
	margin: 0;
	font-size: 1.230769230769231em;		/* 16 / 13 = 1.230769230769231 */
	line-height: 1.692307em;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	font-weight: normal;
}
dl dd {
	margin: 0 0 5px 20px;
	padding: 0;
	color: #888;
}

/* Blockquotes
-------------------------------------------------------------- */
blockquote, blockquote blockquote blockquote {
	overflow: hidden;
	padding: 0 0 0 40px;
	font-size: 1.153846153846154em;		/* 15 / 13 = 1.153846153846154 */
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	color: #aaa;
	background: url(images/quote.png) no-repeat 0 4px;
}

/* Code 
-------------------------------------------------------------- */
code {
	padding: 0 3px;
	color: #555;
	background: #ffeacd;
}
pre {
	padding: 15px 20px;
	background: #fff1dd;
	border: 1px solid #f6e4cc;
}
pre code {
	padding: 0;
	background: transparent;
}

/* Forms 
-------------------------------------------------------------- */
form label, form input, form textarea {
	font-family: 'Bitter', Georgia, 'Times New Roman', Times, serif;
}
form label {
	line-height: 1.5em;	
	color: #222;
}
input[type="text"], input[type="password"], input[type="email"], .input-text, textarea, select {
	border: 1px solid #ddd;
	padding: 5px;
	outline: none;
	font-size: 0.8125em;
	color: #888;
	margin: 0;
	display: block;
	background: #fff;
}
select { padding: 0; }
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus, .input-text:focus {
	border: 1px solid #aaa;
	color: #444;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
	box-shadow:  0 0 3px rgba(0,0,0,.2);
}
textarea {
	display: block;
	width: 94%;
	min-height: 60px;
}
input[type="radio"] { vertical-align: text-middle; }
input[type="checkbox"] { display: inline; }
input[type="submit"]:hover { cursor: pointer }
.error { color: #ff4367; }

/* Images & Video
-------------------------------------------------------------- */
a:hover img { opacity: 0.85; }
#site-title a:hover img { border: none; }
.hentry img, .entry-content img, .widget img, .wp-caption, .hentry embed, .entry-content embed, .widget embed, .hentry object, .entry-content object, .widget object, .hentry video, .entry-content video, .widget video {
	max-width: 100%;
}
.hentry img, .entry-content img, .widget img {
	height: auto;
	padding: 1px;
	border: 1px solid #e5e5e5;	
}

/* Captions [caption] 
-------------------------------------------------------------- */
.wp-caption {
	overflow: hidden;
	text-align: center;
}
.wp-caption img { margin: 0 0 5px 0; }
.wp-caption .wp-caption-text {
	margin: 5px 0;
	font-size: 0.8461538461538462em;
	line-height: 1em;
	color: #888;
	text-align: left;
}
.wp-caption a { border: none; }

/* Galleries 
-------------------------------------------------------------- */
.gallery {
	display: block;
	clear: both;
	overflow: hidden;
	margin: 0 auto;
	margin: 0 !important;
}
.gallery br {
	display: block;
	line-height: 0;
	height: 0;
}
.gallery a { border: none; }
.gallery .gallery-row {
	display: block;
	clear: both;
	overflow: hidden;
	margin: 0
}
.gallery .gallery-item {
	overflow: hidden;
	float: left;
	margin: 0;
	margin: 0 0 1.692307em 0 !important;
	text-align: left;
	list-style: none;
	padding: 0;
}
.gallery img, .gallery .gallery-item .gallery-icon img {
	max-width: 89%;
	height: auto;
	margin: 0 auto
}
.gallery-icon {
	overflow: hidden;
	margin: 0;
}
.gallery-caption {
	margin: 0;
	font-size: 0.8461538461538462em;
	line-height: 1.4em;
	color: #aaa;
}
.attachment-image {
	float: left;
	width: 100%;
}
.singular-attachment .hentry .gallery-caption { display: none; /* Hide captions in gallery on attachment pages */ }
.gallery-caption { margin: 3px 0 0 0 }
.col-0 { width: 100% }
.col-1 { width: 100% }
.col-2 { width: 50% }
.col-3 { width: 33.33% }
.col-4 { width: 25% }
.col-5 { width: 20% }
.col-6 { width: 16.66% }
.col-7 { width: 14.28% }
.col-8 { width: 12.5% }
.col-9 { width: 11.11% }
.col-10 { width: 10% }
.col-11 { width: 9.09% }
.col-12 { width: 8.33% }
.col-13 { width: 7.69% }
.col-14 { width: 7.14% }
.col-15 { width: 6.66% }
.col-16 { width: 6.25% }
.col-17 { width: 5.88% }
.col-18 { width: 5.55% }
.col-19 { width: 5.26% }
.col-20 { width: 5% }
.col-21 { width: 4.76% }
.col-22 { width: 4.54% }
.col-23 { width: 4.34% }
.col-24 { width: 4.16% }
.col-25 { width: 4% }
.col-26 { width: 3.84% }
.col-27 { width: 3.7% }
.col-28 { width: 3.57% }
.col-29 { width: 3.44% }
.col-30 { width: 3.33% }

/* Layout
-------------------------------------------------------------- */
#main {
	clear: both;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.page-template-fullwidth #content { width: 100%; }
#content {
	float: left;
	width: 68.08510638297872%;
	margin: 0 0 30px 0;
	min-height: 180px;
}
#sidebar-primary {
	float: right;
	width: 27.65957446808511%;
}
.wrap {
	max-width: 940px;
	margin: 0 auto;
	position: relative;
}
#comments-template { clear: left; }
#sidebar-subsidiary {
	overflow: visible;
	width: 100%;
	margin: 30px auto 0 auto;
	padding: 30px 0 0 0;
	border-top: 5px solid #444;
	clear: both;
}
#footer {
	overflow: hidden;
	clear: both;
	width: 100%;
	margin: 0 auto;
	padding: 26px 0 30px 0;
	border-top: 5px solid #444;
	font-size: 0.8461538461538462em;
	color: #aaa;
}

/* Primary menu 
-------------------------------------------------------------- */
#menu-primary {
	font-size: 1em;
	width: 75%;
	margin: 30px 0 12px 0;
	float: right;
	position: relative;
	z-index: 99;
}
#menu-primary .menu { float: right; }
#menu-primary .menu ul { float: right; }
#menu-primary li {
	display: block;
	float: left;
	min-height: 30px;
}
#menu-primary li a {
	line-height: 1em;
	margin-left: 3.5em;
	display: block;
	text-transform: uppercase;
	font-size: 0.8461538461538462em;
}
#menu-primary li.current-menu-item a { color: #aaa; }
#menu-primary li li, #menu-primary li li.current-menu-item li {
	clear: both;
	float: none;
	border-top: 1px dotted #e5e5e5;
}
#menu-primary li li:first-child, #menu-primary li li.current-menu-item li:first-child { border-top: none; }
#menu-primary li li a, #menu-primary li li.current-menu-item li a {
	font-size: 1em;
	text-transform: none;
	color: #888;
	margin: 0 5px;
	padding: 12px 15px;
}
#menu-primary ul li a:hover, #menu-primary li ul li a:hover { color: #222; }

/* Dropdowns
-------------------------------------------------------------- */
.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu li:hover { visibility: inherit }
.menu li {
	float: left;
	position: relative;
}
.menu a {
	display: block;
	position: relative;
}
#menu-primary li ul {
	display: none;
	position: absolute;
	top: 25px;
	left: 19px;
	border: 1px solid #e3e3e3;
	background: #fff;
	-webkit-box-shadow: 0 0 7px rgba(0,0,0,.09);
	-moz-box-shadow: 0 0 7px rgba(0,0,0,.09);
	box-shadow: 0 0 7px rgba(0,0,0,.09);
	z-index: 100;
}
#menu-primary li:hover ul, #menu-primary li.sfHover ul {
	display: block;
}
#menu-primary li:hover li ul, #menu-primary li.sfHover li ul { top: -999em; }
#menu-primary li li:hover ul, #menu-primary li li.sfHover ul {
	top: -1px;
	left: 10em; /* no-javascript fix */
	margin-left: 0;
	border-top: 1px solid #e9e9e9;
}
.menu li a.sf-with-ul, #menu-secondary li a.sf-with-ul { padding-right: 16px; }
.menu .sf-with-ul {
	background: url(images/dropdown.png) no-repeat right 10%;
}
.menu li li .sf-with-ul {
	background: url(images/dropright.png) no-repeat right 50%;
}

/* Responsive menu
-------------------------------------------------------------- */
.site-navigation .nav-menu { display: none; }
.site-navigation .nav-menu.toggled-on { display: block; }
.menu-toggle {
	clear: both;
	display: none;
	float: left;
	width: 100%;
	height: 50px;
	margin: 0 0 0 0;
	font-size: 20px;
	font-weight: normal;
	line-height: 47px;
	text-align: center;
	color: #eee;
	background: #111;
	cursor: pointer;
}
.menu-toggle:hover { color: #fff; }

/* Header 
-------------------------------------------------------------- */
#header {
	clear: both;
	width: 100%;
}
#branding {
	float: left;
	width: 25%;
	overflow: hidden;
	margin-top: 20px;
}
#site-title {
	font-size: 2.307692307692308em;	/* 30 / 13 = 2.307692307692308 */
	line-height: 1em;
	font-weight: bold;
	margin: 0 0 20px 0;
	text-transform: uppercase;
	letter-spacing: -2px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	word-wrap: break-word;
}
#site-title a {
	color: #222;
	border-bottom: none;
}
#header img { max-width: 100%; }
#site-description {
	font-size: 1.846153em;	/* 24 / 13 = 1.846153 */
	line-height: 1.5em;
	margin: 0;
	color: #333;
	text-transform: none;
	float: left;
	width: 91.48936170212766%;
	clear: both;
	text-align: center;
	border-top: 5px solid #444;
	padding: 18px 4.25531914893617% 20px 4.25531914893617%;	/* 40px / 940px = 4.25531914893617% */
}
.home #site-description {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 30px;
}
.breadcrumbs {
	font-size: 0.8461538461538462em;
	color: #888;
	float: left;
	width: 97.872340425532%;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	margin: 0 0 30px 0;
}
.breadcrumb-trail { padding: 1px 1.086956521739%; }

/* Posts 
-------------------------------------------------------------- */
.hentry {
	float: left;
	width: 100%;
	margin: 0 0 20px 0;
	padding: 0 0 5px 0;
	font-size: 1em;
	border-bottom: 1px solid #e5e5e5;
}
.singular .hentry {
	margin: 0 0 30px 0;
	position: relative;
	float: left;
	width: 100%;
}
.featured { margin-bottom: 20px; }
.sticky .sticky-header {
	float: left;
	width: 30%;
}
.sticky .byline { clear: left }
.sticky .entry-summary {
	float: right;
	width: 65%;
	border-left: 1px solid #e5e5e5;
	padding-left: 2.34375%;
}
.hentry .featured-thumbnail { margin-bottom: 25px; }
.hentry .thumbnail {
	float: left;
	width: 23.4375%;
	margin: 3px 3.90625% 20px 0;
}

/* Post titles 
-------------------------------------------------------------- */
.hentry .entry-title {
	margin: 0 0 0.6em 0;
	padding: 0;
	font-size: 1.230769230769231em;	/* 16 / 13 = 1.230769230769231 */
	text-transform: uppercase;
	line-height: 1.3em;
	border: none;
	color: #333;
	word-spacing: 2px;
}
.singular .entry-title {
	font-size: 1.846153846153846em;	/* 24 / 13 = 1.846153846153846 */
	margin-bottom: 0.625em;
}
.singular-page .entry-title { color: #ccc; }
.singular-page .entry-title, .singular-attachment .entry-title { margin-bottom: 1.2em; }
.entry-title a, .entry-title a:visited { color: #222; }
.entry-title a:hover { color: #dd5424; }

/* Post bylines/datelines 
-------------------------------------------------------------- */
.byline {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	margin: 0 0 1em 0;
	font-size: 0.8461538461538462em;
	color: #aaa;
	line-height: 1.692307em;
	word-spacing: 2px;
}
.singular .byline { margin-bottom: 1.7em; }
.byline a, .byline a:visited { color: #aaa; }
.byline a:hover { color: #000; }
.author, .published, .category, .edit, .bypostauthor {
	font-family: 'Bitter', Georgia, 'Times New Roman', Times, serif;
	font-style: normal;
}
.comment-list .published, .comment-list .edit, .comment-list .comment-reply-link {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 1em;
	font-style: italic;
	text-transform: none;
}

/* Post excerpts 
-------------------------------------------------------------- */
.entry-summary p { margin: 0 0 1em 0; }

/* Post metadata 
-------------------------------------------------------------- */
.entry-meta {
	margin: 0 0 25px 0;
	font-size: 0.8461538461538462em;
	color: #aaa;
}
.entry-meta a { color: #888; }
.entry-meta a:hover { color: #000; }

/* Singular post prev/next links 
-------------------------------------------------------------- */
.singular .loop-nav {
	font-size: 0.8461538461538462em;
	color: #888;
	clear: left;
}

/* Page links for multi-paged posts <!--nextpage--> 
-------------------------------------------------------------- */
.page-links {
	clear: both;
	font-size: 0.8461538461538462em;
	word-spacing: 2px;
	line-height: 1em;
	color: #222;
}
.entry-summary .page-links {
	clear: none;
	font-size: 0.8461538461538462em;
	line-height: 1em;
	color: #aaa;
}
.page-links a, .page-links a:visited {
	display: inline-block;
	color: #555;
	background: #e9e9e9;
	padding: 3px 6px;
}
.page-links a:hover {
	color: #fff;
	background: #555;
}

/* Archive/search pagination and comment pagination 
-------------------------------------------------------------- */
.comment-navigation { margin-bottom: 1.692307em; }
.pagination.loop-pagination {
	float: left;
	clear: both;
	margin-top: 7px;
}
.pagination .page-numbers, .comment-navigation .page-numbers {
	display: inline-block;
	padding: 4px 8px;
	margin: 0;
	line-height: 1em;
	color: #444;
}
.pagination a.page-numbers, .comment-navigation a.page-numbers {
	color: #333;
	background: #e9e9e9;
}
.pagination a:hover, .comment-navigation a:hover {
	color: #fff;
	background: #555;
}
.pagination .current, .comment-navigation .current { color: #aaa; }

/* Sidebar after singular posts 
-------------------------------------------------------------- */
#sidebar-after-singular {
	overflow: hidden;
	margin: 0;
	font-size: 1em;
	float: left;
}

/* Widgets 
-------------------------------------------------------------- */
.sidebar .widget {
	float: left;
	width: 100%;
	margin-bottom: 26px;
	color: #888;
}
.widget table, .widget ul, .widget ol { margin-bottom: 0; }

/* Widget titles 
-------------------------------------------------------------- */
.sidebar .widget-title {
	font-size: 0.7692307692307692em;	/* 10 / 13 = 0.7692307692307692 */
	color: #aaa;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 2px;
}

/* Widget unordered lists 
-------------------------------------------------------------- */
.sidebar .widget ul { margin-left: 14px; }
.sidebar .widget ul li a { color: #555; }
.sidebar .widget ul li a:hover { color: #000; }
.sidebar .widget ul li a { color: #555; }
.sidebar .widget ul li a:hover { color: #000; }

/* Search form widget
-------------------------------------------------------------- */
.widget .search-form { overflow: hidden; }
.widget .search-form label {
	font-size: 0.8461538461538462em;
	line-height: 1.692307em;
	color: #aaa;
}
.widget .search-form input[type="text"] {
	width: 91.538461%;
	float: left;
	padding: 8px 10px;
	font-size: 1em;
	color: #aaa;
}
.search-form .search-submit, .widget.search .widget-title { display: none; }

/* Comments 
-------------------------------------------------------------- */
.comment-list, .comment-list ol {
	list-style: none;
	margin: 0 0 25px 0;
}
.comment-list { margin-bottom: 40px; }
.comment-list li {
	padding: 15px 0 0 0;
	border-top: none;
}
.comment-list li li { padding-left: 10.15625%; }	/* 65px / 640px = 10.15625% */
.comment-list .avatar {
	float: left;
	margin: 0 15px 10px 0;
}
.comment-meta {
	margin: 0 0 10px 0;
	font-size: 0.8461538461538462em;
	color: #aaa;
	line-height: 1.692307em;
}
.comment-meta .comment-author cite {
	font-style: normal;
	font-weight: bold;
	color: #333;
	font-size: 1.153846153846154em;
}
.comment-author { margin-right: 10px; }
.comment-meta a {
	font-style: normal;
	color: #aaa;
}
.comment-meta a:hover { color: #000; }
.comments-closed {
	padding: 10px 25px;
	font-size: 1em;
	color: #888;
	background: #f5f5f5;
}
.comment-content { margin-left: 65px; }
.comment-content p { margin-bottom: 1em; }

/* Comment form 
-------------------------------------------------------------- */
#respond {
	overflow: hidden;
	width: 75%;
}
.comment-list #respond { margin-top: 1.692307em; }
#respond .log-in-out {
	font-size: 0.8461538461538462em;
	line-height: 1em;
	color: #888;
	margin-bottom: -7px;
}
#reply-title small a {
	font-size: 0.8461538461538462em;
	line-height: 1.692307em;
	background: #fff;
	padding-right: 8px;
}
#respond label {
	font-size: 0.8461538461538462em;
	line-height: 1.692307em;
	color: #bbb;
}
#respond p.req label {
	color: #888;
	line-height: 2.4em;
}
#respond span.required {
	font-size: 1em;
	font-weight: bold;
	color: #000;
}
#respond #submit { margin-bottom: 1.692307em; }
#commentform input {
	display: inline;
	margin-right: 10px;
}
#commentform p {
	margin-bottom: 15px;
	line-height: 1em;
}
#comment { margin-top: 20px; }

/* Subsidiary sidebar 
-------------------------------------------------------------- */
#sidebar-subsidiary .widget {
	float: left;
	width: 21.80851063829787%;	/* 205px / 940px = 21.80851063829787% */
	margin: 0 3.191489361702128% 20px 0;	/* 30px / 940px = 3.191489361702128% */
	font-size: 1em;
}

/* Footer 
-------------------------------------------------------------- */
#footer p { margin-bottom: 0; }
#footer a { color: #888; }
#footer a:hover { color: #dd5424; }

/*  Buttons (submit etc.)
-------------------------------------------------------------- */
#respond #submit, .button, a.button, .wpcf7-submit, #loginform .button-primary {
	padding: 5px 12px 6px 12px;
	color: #fff;
	background:#db5629;
	border: none;
	height: 33px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
#respond #submit:hover, .button:hover, .wpcf7-submit:hover, #loginform .button-primary:hover { background: #222; }
.menu li a { position: relative; }

/*  Gravity Forms (plugin)
----------------------------------------------------- */
.sidebar .widget ul li.gfield, #content .hentry ul li.gfield {
	background: none;
	padding-left: 0;
	margin-bottom: 15px;
}
.wordpress .gform_wrapper input[type="text"], .wordpress .gform_wrapper input[type="url"], .wordpress .gform_wrapper input[type="email"], .wordpress .gform_wrapper input[type="phone"], .wordpress .gform_wrapper input[type="number"], .wordpress .gform_wrapper input[type="password"], .wordpress .gform_wrapper textarea {
	padding: 4px;
	font-size: 1em;
}
.wordpress .gform_wrapper .gform_footer, .wordpress .gform_wrapper .gform_footer.right_label, .wordpress .gform_wrapper .gform_footer.left_label {
	padding-top: 0;
	margin-top: 0;
}
.wordpress .gform_wrapper .gform_footer.right_label, .wordpress .gform_wrapper .gform_footer.left_label { padding-left: 31.5%; }
.wordpress .gform_wrapper .top_label .gfield_label {
	font-weight: normal;
	margin: 0 0 5px;
}
.wordpress .gform_wrapper .ginput_complex .ginput_full input { width: 92% !important; }
.wordpress .gform_wrapper .field_name_first input, .wordpress .gform_wrapper .ginput_complex .ginput_left input { width: 83.7% !important; }
.wordpress .gform_wrapper .ginput_complex .ginput_right input, .wordpress .gform_wrapper .ginput_complex .ginput_right select { width: 83.7% !important; }
.wordpress .gform_wrapper select {
	padding: 2px;
	height: 2em;
	font-size: 1em;
}
.wordpress .gform_wrapper .gsection {
	border-bottom: 1px solid #e9e9e9;
	margin: 40px 0 20px 0 !important;	
}
.gform_wrapper .gfield_description, .gform_wrapper div.charleft { color: #aaa !important; }
.gform_wrapper .description, .gform_wrapper .gfield_description, .gform_wrapper .gsection_description, .gform_wrapper .instruction, .gform_wrapper div.charleft { font-family: 'Bitter', Georgia, 'Times New Roman', Times, serif !important; }

/*  Contact Form 7 (plugin)
----------------------------------------------------- */
.wpcf7-form p {
	margin-bottom: 15px;
	line-height: 2.2em;
}
.wpcf7-form input[type="text"], .wpcf7-form input[type="password"], .wpcf7-form input[type="email"], .wpcf7-form textarea, .wpcf7-form select { padding: 6px; }

/*  Media Queries (mobile browsing)
----------------------------------------------------- */

/* Menu toggles */
@media only screen and (min-width: 768px) { .site-navigation .nav-menu { display: block; } }
@media only screen and (max-width: 767px) { .menu-toggle { display: block; } }

/* Tablet (portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.wrap { max-width: 728px; }
	.widget .search-form input[type="text"] { width: 89%; }
	.widget table { font-size: 0.8461538461538462em; }
	#sidebar-subsidiary .widget table { width: 90%; }
}
/* Mobile (portrait) */
@media only screen and (max-width: 767px) {
	.wrap { max-width: 300px; }
	body { line-height: 1.615384615384615em; }
	p { margin-bottom: 1.615384615384615em; }
	#branding {
		float: left;
		width: 100%;
		position: relative;
	}
	#site-description { font-size: 1.3em; }
	#menu-primary .menu-toggle { width: 100%; }
	.menu-toggle { display: block; }
	#menu-primary {
		float: left;
		clear: both;
		width: 100%;
		margin-top: 10px;
	}
	#menu-primary .menu, #menu-primary .menu ul, #menu-primary ul li { 
		float: left;
		width: 100%;
	}
	#menu-primary li { min-height: 0; }
	#menu-primary li ul, #menu-primary li li {
		display: block !important;
		visibility: visible !important;
		border: none !important;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
	}
	#menu-primary li ul {
		position: relative !important;
		top: 0;
		left: 30px;
	}	
	#menu-primary li li ul { left: 30px !important; }
	#menu-primary li:hover ul, #menu-primary li.sfHover ul {
		display: block !important;
		top: 0 !important;
	}
	.menu .sf-with-ul { background: none !important; }	
	#menu-primary li a, #menu-primary li li a {
		display: block;
		width: 100%; 
		font-size: 13px;
		padding: 1em 0;
		margin-left: 0;
	}	
	#menu-primary li a:hover { background: none; }
	#content { width: 100%; }
	.comment-list li li { padding-left: 0; }
	#sidebar-primary {
		width: 100%;
		clear: left;
	}
	#sidebar-subsidiary .widget { width: 100%; }
	#respond { width: 100%; }
	#footer { min-height: 85px; }
	.col-0 { width: 100% }
	.col-1 { width: 100% }
	.col-2 { width: 100% }
	.col-3 { width: 100% }
	.col-4 { width: 50% }
	.col-5 { width: 50% }
	.col-6 { width: 33.33% }
	.col-7 { width: 33.33% }
	.col-8 { width: 33.33% }
	.col-9 { width: 33.33% }
	.col-10 { width: 33.33% }
	.col-11 { width: 33.33% }
	.col-12 { width: 33.33% }
	.col-13 { width: 33.33% }
	.col-14 { width: 33.33% }
	.col-15 { width: 33.33% }
	.col-16 { width: 33.33% }
	.col-17 { width: 33.33% }
	.col-18 { width: 33.33% }
	.col-19 { width: 33.33% }
	.col-20 { width: 33.33% }
	.col-21 { width: 33.33% }
	.col-22 { width: 33.33% }
	.col-23 { width: 33.33% }
	.col-24 { width: 33.33% }
	.col-25 { width: 33.33% }
	.col-26 { width: 33.33% }
	.col-27 { width: 33.33% }
	.col-28 { width: 33.33% }
	.col-29 { width: 33.33% }
	.col-30 { width: 33.33% }	
}